.box1{
    background-color: aqua;
    width: 200%;
    margin-right: 5%;
    height: 700px;
    margin-top: 5%;
}

.box2{
    background-color: blueviolet;
    width: 200%;
    margin-right: 5%;
    height: 700px;
    margin-top: 5%;
}

.box3{
    background-color: aquamarine;
    width: 200%;
    margin-right: 5%;
    height: 700px;
    margin-top: 5%;
}
.box4{
    background-color: gold;
    width: 200%;
    margin-right: 5%;
    height: 700px;
    margin-top: 5%;
}

body{
    display: flex;
    justify-content: center;
}